body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 500px;
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    
