body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 500px;
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
  outline-color: linear-gradient(to left, #743ad5, #d53a9d) 1;
  border-radius: 25px;
  outline: 4px;
  border: 4px ;
}
    
